* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: helvetica; */
    font-family: 'Grenze Gotisch', cursive;
}
body {
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lobby {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background: radial-gradient(#888, #100);
    
}

.lobby > h1 {
    color: rgb(241, 170, 103);
    text-shadow: 2px 2px 1px black;
    font-weight: 200;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    margin: 1em;
    
}

.creator {
    position: absolute;
    /* display: none; */
    opacity: 0;
    /* visibility: hidden; */
    
    top: 50%; 
    left: 50%;
    transition: transform .5s ease, opacity .5s ease, z-index .5s ease;
    transform: translate(-50%, 100%) scale(.1, .1);
    width: 50%;
    min-height: 60%;
    /* border: 2px solid lightgray; */
    background: radial-gradient(#888, #222);
    z-index: -1;
    padding: 0.5em;
}
.creator > h2 {
    color: white;
    text-align: center;
    margin: 0.5em;
}
.name-inp, .text-input, .body-part, .part-label {
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}
.name-inp {
    padding: 0.5em;
    background: none;
    border: none;
    /* margin: 0.2em; */
    margin-bottom: 0.2em;
    width: 100%;
    color: goldenrod;
    font-size: 1.2em;
    text-align: center;
}
/* title */

.artifact-image {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.text-input {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    border: none;
    text-align: center;
    outline: none;
    resize: none;
}

::-webkit-input-placeholder {
    color: #999;
}
.browser-window {
    /* visibility: hidden; */
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 80%;
    max-height: 80%;
    transform: translate(-50%, 100%) scale(.1, .1);
    transition: transform .5s ease, opacity .5s ease, z-index .5s ease;
    background-image: radial-gradient(#888, #222);
    z-index: 0;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    /* overflow-y: scroll; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}
.browser-window > h1 {
    color: rgb(241, 170, 103);
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 1px black;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0.2em;
    border-bottom: 2px solid goldenrod;
    background: rgba(0,0,0,.1);
}
.browser-box::-webkit-scrollbar-track {
    background: none;
}
.browser-box::-webkit-scrollbar {
   width: .4rem;
   background: none;
   padding-right: 1rem;
}
.browser-box::-webkit-scrollbar-thumb {
    width: .4rem;
    background: goldenrod;
    border-radius: 10px;
 }
 /* box with artifacts within, scrollable */
.browser-box {
    overflow-y: scroll;
    position: absolute;
    padding: .5rem;
    width: 95%;
    height: 80%;
}
.browser-close {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.body-part {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.body-radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: .2rem;
    width: 1.5rem;
    height: 1rem;
    background: rgba(0,0,0,.1);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    cursor: pointer;
}
.body-radio-input:checked {
    background: goldenrod;
    box-shadow: 0 0 10px 0 goldenrod;
}
.part-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    color: white;
}
.part-label:hover {
    box-shadow: 0 0 10px 0 goldenrod;
}

/* has to be there for the transition to work properly */
.visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transform: translate(-50%, -50%) scale(1, 1);
}
.buttons-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.img-box {
    display: flex;
    padding: 1rem;
    justify-content: center;
}
#targetImg {
    image-rendering: pixelated;
}
.btn {
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    border: none;
    background: rgba(0,0,0,.1);
    color: white;
    min-width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0.2em;
    transition: color .4s ease, transform .4s ease;
}
.btn:hover {
    /* transform: translateX(-5px); */
    filter: contrast(150%);
    color: goldenrod;
    cursor: pointer;
}
.tier-ico, .tier-ico-2 {
    font-style: normal;
    font-size: 0.5rem;
}

.artifact {
    /* background: radial-gradient(rgb(155, 137, 78), rgb(114, 57, 0)); */
    background: rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: goldenrod;
    margin-bottom: 2px;
    border-bottom: 2px solid rgba(0,0,0,.5);
    border-top: 2px solid rgba(255,255,255,.2);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.artifact:hover {
    filter: contrast(120%);
    cursor: pointer;
}
.art-values {
    border-left: 2px solid goldenrod;
    padding-left: 1em;
}
.art-values > p {
    font-size: 0.8em;
}
.art-spell {
    color: rgb(236, 210, 255);
    text-shadow: 0 0 8px indigo;

    /* background-image: linear-gradient(to left, transparent, rgba(100,0,100,.3)); */
}

.art-description {
    color: #ff8;
}
.art-price {
    color: orange;
    font-weight: bolder;
}

.art-image {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,.1);
    border-radius: 1rem;
    /* image-rendering: pixelated; */
}