* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: helvetica; */
    font-family: 'Grenze Gotisch', cursive;
}
body {
    background: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lobby {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background: radial-gradient(#888, #100);
    
}

.lobby > h1 {
    color: rgb(241, 170, 103);
    text-shadow: 2px 2px 1px black;
    font-weight: 200;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    margin: 1em;
    
}

.creator {
    position: absolute;
    top: 50%; 
    left: 50%;
    transition: transform .4s ease;
    transform: translate(-50%, 200%);
    visibility: hidden;
    width: 50%;
    min-height: 60%;
    /* border: 2px solid lightgray; */
    background: radial-gradient(#888, #222);
    z-index: 0;
    padding: 0.5em;
}
.creator > h3 {
    color: white;
    text-align: center;
    margin: 0.5em;
}
.name-inp, .text-input, .body-part, .part-label {
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);

}
.name-inp {
    padding: 0.5em;
    background: none;
    border: none;
    /* margin: 0.2em; */
    margin-bottom: 0.2em;
    width: 100%;
    color: goldenrod;
    font-size: 1.2em;
    text-align: center;
}
/* title */

.artifact-image {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.text-input {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    border: none;
    text-align: center;
    outline: none;
    resize: none;
}

::-webkit-input-placeholder {
    color: #999;
}
.browser-window {
    visibility: hidden;
    position: absolute;
    padding: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 80%;
    background: #666;
    z-index: 0;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    
}
.browser-window > h1 {
    color: rgb(241, 170, 103);
    text-shadow: 2px 2px 1px black;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0.2em;
    border-bottom: 2px solid goldenrod;
    
}
.body-part {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.body-radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 1em;
    background: rgba(0,0,0,.2);
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 2px;
    cursor: pointer;
}
.body-radio-input:checked {
    background: linear-gradient(90deg,gold, goldenrod, orange, gold);
}
.part-label {
    display: block;
    margin: 0.2em;
    min-width: 50px;
    padding: 0.5em;
    text-align: center;
    /* background: rgba(0,0,0,.1); */
    color: white;
}

.visible {
    visibility: visible;
    z-index: 10;
    transform: translate(-50%, -50%);
}
.buttons-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn {
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    border: none;
    background: rgba(0,0,0,.1);
    color: white;
    min-width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0.2em;
    transition: color .4s ease, transform .4s ease;
}
.btn:hover {
    transform: translateX(-5px);
    filter: contrast(150%);
    color: goldenrod;
    cursor: pointer;
    
}
.artifact {
    /* background: radial-gradient(rgb(155, 137, 78), rgb(114, 57, 0)); */
    background: rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    color: gold;
    margin-bottom: 2px;
    border-bottom: 2px solid rgba(0,0,0,.5);
    border-top: 2px solid rgba(255,255,255,.2);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.artifact:hover {
    filter: contrast(120%);
    cursor: pointer;
}
.art-values {
    border-left: 2px solid goldenrod;
    padding-left: 1em;
}
.art-values > p {
    font-size: 0.8em;
}
.art-spell {
    color: rgb(236, 210, 255);
    text-shadow: 0 0 8px indigo;

    /* background-image: linear-gradient(to left, transparent, rgba(100,0,100,.3)); */
}

.art-description {
    color: #ff8;
}
.art-price {
    color: orange;
    font-weight: bolder;
}

.art-image {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,.1);
    border-radius: 1rem;
    
}